*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #1e293b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.header {
  background-color: #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem; }

.logo {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%; }

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem; }

.main-nav-link:link, .main-nav-link:visited {
  color: #f1f3f5;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  transition: all 0.5s; }

.main-nav-link:hover, .main-nav-link:active {
  color: #da4141;
  border-bottom: 2px solid #c92a2a; }

.heading-style {
  color: #c92a2a; }

.section-hero {
  background-color: #1e293b;
  padding: 4.8rem 0 9.6rem 0; }

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .hero__box {
    align-self: center; }
    .hero__box--discription {
      font-size: 2.8rem;
      color: #f1f3f5; }
  .hero__image {
    background-image: linear-gradient(to left bottom, #da4141, #da4141);
    -webkit-clip-path: ellipse(42% 49% at 45% 50%);
    clip-path: ellipse(42% 49% at 45% 50%);
    padding: 4.8rem 4.8rem 0 4.8rem; }
    .hero__image--me {
      object-fit: cover;
      width: 90%; }

.heading-primary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #f1f3f5;
  text-transform: uppercase;
  font-size: 5.2rem;
  line-height: 1.3; }

.style:link,
.style:visited {
  color: #c92a2a;
  border-bottom: 1px solid #c92a2a; }

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  text-transform: uppercase;
  color: #f1f3f5;
  background-color: #c92a2a; }

.btn--outline:hover,
.btn--outline:active {
  background-color: #0f172a;
  box-shadow: inset 0 0 0 3px #c92a2a; }

.margin__bottom-sm {
  margin-bottom: 2.4rem !important; }

.margin__bottom-lg {
  margin-bottom: 3.2rem !important; }

.margin__bottom-md {
  margin-bottom: 4.8rem !important; }
