*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #1e293b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.heading-primary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5.2rem;
  line-height: 1.3; }

.style:link,
.style:visited {
  color: #c92a2a;
  width: calc(100% - 2 * 2.4rem);
  border-bottom: 1px solid #c92a2a; }

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  text-transform: capitalize;
  color: #f1f3f5;
  background-color: #c92a2a; }

.heading-tertiary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: currentColor;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.3; }

.btn--outline:hover,
.btn--outline:active {
  background-color: #0f172a;
  box-shadow: inset 0 0 0 3px #c92a2a; }

.margin__bottom-sm {
  margin-bottom: 3.2rem !important; }

.margin__bottom-lg {
  margin-bottom: 9.6rem !important; }

.margin__bottom-md {
  margin-bottom: 5.2rem !important; }

.text {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 700; }

.heading-background {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-image: linear-gradient(to right bottom, #1e293b, #da4141) 30;
  border-width: 0 0 10px;
  border-top: none;
  border-style: solid; }

.heading-background--1 {
  background-image: linear-gradient(to right bottom, #1e293b, #da4141); }

.heading-background--2 {
  background-image: linear-gradient(to right bottom, #fff, #da4141); }

.btn__animation {
  display: inline-block;
  padding: 0.6rem 2.4rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: #1e293b;
  font-weight: 700;
  background-color: #f1f3f5;
  text-decoration: none;
  border-radius: 100px;
  position: relative;
  cursor: pointer; }

.btn__animation::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f1f3f5;
  transition: all 0.5s;
  border-radius: 100px; }

.btn__animation:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.section-about {
  padding: 9.6rem 0 9.6rem 0; }

.about {
  text-align: center;
  color: #1e293b; }
  .about__myself {
    margin-top: 9.6rem;
    font-size: 2.4rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 1px; }

.about__me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 3.2rem;
  align-items: start; }
  .about__me--details {
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: center;
    grid-gap: 1.2rem;
    justify-items: center;
    transition: all 0.5s; }
  .about__me--details:hover {
    transform: translateY(-2rem); }
  .about__me--icon {
    height: 4.8rem;
    width: 4.8rem;
    fill: #da4141; }
  .about__me--text {
    grid-column: 1/-1; }
  .about__me--heading {
    align-self: center; }

.header {
  background-color: #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem; }

.logo {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%; }

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem; }

.main-nav-link:link, .main-nav-link:visited {
  position: relative;
  padding: 0 2.4rem;
  color: #f1f3f5;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  z-index: 10; }

.main-nav-link::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 3px;
  background-color: #ba265d;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.4s; }

.main-nav-link:hover::before {
  transform: scaleY(1);
  width: 100%; }

.heading-style {
  color: #c92a2a; }

.section-hero {
  background-color: #1e293b;
  padding: 9.6rem 0 9.6rem 0; }

.heading--hero {
  color: #f1f3f5; }

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 6.4rem; }
  .hero__box {
    align-self: center;
    backface-visibility: hidden; }
    .hero__box--discription {
      animation: moveInLeft 1s ease-in;
      font-size: 2.8rem;
      color: #f1f3f5; }
  .hero__image {
    background-image: linear-gradient(to left bottom, rgba(201, 42, 42, 0.588), #c92a2ae0);
    -webkit-clip-path: ellipse(42% 49% at 45% 50%);
    clip-path: ellipse(42% 49% at 45% 50%);
    padding: 4.8rem 4.8rem 0 4.8rem; }
    .hero__image--me {
      animation: moveInRight 1s ease-in;
      object-fit: cover;
      width: 90%; }

.heading--animation {
  animation: moveInLeft 1s ease-in; }

.btn--outline {
  animation: moveInLeft 1s ease-in; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.skill {
  background-color: #1e293b;
  padding: 9.6rem 0; }

.skills {
  text-align: center; }

.skills--container {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem; }

.skill-grid {
  color: #f1f3f5;
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between; }

.skill-grid .score {
  color: #1e293b; }

.fill {
  background-color: #da4141;
  grid-column: 1/-1;
  grid-row: 1/2; }

.skill--1 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 92%, #f1f3f5 92%); }

.skill--2 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 92%, #f1f3f5 92%); }

.skill--3 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 92%, #f1f3f5 92%); }

.skill--4 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 80%, #f1f3f5 80%); }

.skill--5 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 70%, #f1f3f5 70%); }

.skill--7 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 60%, #f1f3f5 60%); }

.skill--6 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 70%, #f1f3f5 70%); }

.skill--8 {
  padding: 1.2rem;
  background-image: linear-gradient(100deg, #da4141 0%, #da4141 60%, #f1f3f5 60%); }

.project {
  padding: 9.6rem 0 9.6rem 0;
  color: #f1f3f5; }
  .project__container {
    text-align: center; }

.project__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 6.4rem; }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  height: 25rem;
  position: relative; }
  .card__side {
    position: absolute;
    height: 25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
    backface-visibility: hidden; }
  .card__project--img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card__side--back {
    transform: rotateY(180deg);
    background-image: linear-gradient(to right bottom, #1e293b, #da4141);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.contact {
  padding: 9.6rem 0;
  background-color: #1e293b; }

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact__detail {
  padding: 4.8rem 9.6rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3.8rem; }

.form__group {
  position: relative; }

.form__input {
  width: 100% !important;
  display: inline-block;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 2px;
  font-family: "Nunito", sans-serif;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #f1f3f5; }

.form__input::-webkit-input-placeholder {
  color: #1e293b; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.form__input:focus:invalid {
  border-bottom: 3px solid #da4141; }

.form__input:focus:valid {
  border-bottom: 3px solid lightgreen; }

.form__label {
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  left: 2rem;
  bottom: 0;
  display: block;
  color: #da4141;
  transition: all 0.5s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden; }

.form__input:focus + .form__label {
  transform: translateY(3rem);
  opacity: 1;
  visibility: visible; }

.form__input:not(:focus) + .form__label {
  opacity: 0;
  visibility: hidden; }

.btn__form {
  width: 30%; }
