.section-about {
  padding: 9.6rem 0 9.6rem 0;
}

.about {
  text-align: center;

  color: $color-black--dark-1;
  &__myself {
    margin-top: 9.6rem;
    font-size: 2.4rem;
    font-family: $font-primary;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 1px;
  }
}

.about__me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 3.2rem;

  align-items: start;

  &--details {
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: center;
    grid-gap: 1.6rem;
    justify-items: center;
    transition: all 0.5s;
  }

  &--details:hover {
    transform: translateY(-2rem);
  }

  &--icon {
    height: 4.8rem;
    width: 4.8rem;
    fill: $color-light-1;
  }

  &--text {
    grid-column: 1/-1;
  }

  &--heading {
    align-self: center;
  }
}
