$color-black--dark-1: #1e293b; //
$color-primary--light-2: #0f172a;
$color-light-1: #da4141;
$color-dark-1: #ba265d;
$color-white-dark: #f1f3f5;

//font variable
$font-primary: "Rubik", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media (max-width: 72em) {
    font-size: 54.25%;
  }

  @media (max-width: 62em) {
    font-size: 48%;
  }
  @media (max-width: 45em) {
    font-size: 43%;
  }
}

body {
  font-family: $font-primary;
  color: $color-black--dark-1;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
