.contact {
  padding: 9.6rem 0;
  background-color: $color-black--dark-1;
}
.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__detail {
  padding: 4.8rem 9.6rem;
  width: 80%;
  background-color: $color-black--dark-1;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  justify-content: center;
  z-index: 10;

  @media (max-width: 62em) {
    width: 100%;
  }
  @media (max-width: 54em) {
    padding: 4.8em 0;
  }
}

.form {
  &__group {
    position: relative;
  }
  &__input {
    width: 100% !important;

    display: inline-block;
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
    border-radius: 2px;
    font-family: $font-primary;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: $color-white-dark;
  }
  &__input::-webkit-input-placeholder {
    color: $color-black--dark-1;
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &__input:focus:invalid {
    border-bottom: 3px solid $color-light-1;
  }

  &__input:focus:valid {
    border-bottom: 3px solid lightgreen;
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 700;
    position: absolute;
    left: 2rem;
    bottom: -3rem;
    display: block;
    color: $color-light-1;

    transition: all 0.5s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.btn__form {
  width: 30%;
  color: $color-black--dark-1;
  background-color: $color-light-1;
}

.btn__form::after {
  background-color: $color-light-1;
}
