.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.section {
  transition: all 1s;
}

.heading-primary {
  font-family: $font-display;
  font-weight: 700;

  text-transform: uppercase;
  font-size: 5.2rem;
  line-height: 1.3;
}

.style:link,
.style:visited {
  color: #c92a2a;
  width: calc(100% - 2 * 2.4rem);

  border-bottom: 1px solid #c92a2a;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  text-transform: capitalize;
  color: #f1f3f5;
  background-color: #c92a2a;
}

.heading-tertiary {
  font-family: $font-primary;
  font-weight: 700;
  color: currentColor;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.3;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #0f172a;
  box-shadow: inset 0 0 0 3px #c92a2a;
}

.margin__bottom-sm {
  margin-bottom: 3.2rem !important;
}

.margin__bottom-lg {
  margin-bottom: 9.6rem !important;
}

.margin__bottom-md {
  margin-bottom: 5.2rem !important;
}

.text {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
}

.heading-background {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-image: linear-gradient(to right bottom, #1e293b, #da4141) 30;
  border-width: 0 0 10px;
  border-top: none;
  border-style: solid;
}

.heading-background--1 {
  background-image: linear-gradient(to right bottom, #1e293b, #da4141);
}
.heading-background--2 {
  background-image: linear-gradient(to right bottom, #fff, #da4141);
}

.btn__animation {
  display: block;
  padding: 1.2rem 2.4rem;

  font-family: $font-primary;
  font-size: 1.6rem;
  color: $color-black--dark-1;
  font-weight: 700;
  background-color: $color-white-dark;
  text-decoration: none;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  border: none;
}

.btn__animation::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $color-white-dark;
  transition: all 0.5s;
  border-radius: 100px;
}

.btn__animation:hover::after {
  transform: scaleX(1.4) scaleY(1.6);

  opacity: 0;
}
